apiVersion: v1
kind: Service
metadata:
  labels:
    provider: jkube
  name: hello-service
  namespace: hello-spring-dev
spec:
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: hello-service
    group: com.redhat.sample
    provider: jkube
  sessionAffinity: None
  type: ClusterIP
